@CHARSET "UTF-8";

div {
	
}

div.head {
	width: 100%;
	height: 100px;
}
div.headcontent {
	width: 100%;
	height: 63px;
	margin: 0px;
}
div.headcontent_{
	height: 63px;
	margin: 0px;
	background-repeat: no-repeat;
}
div.content {
	height: 800px;
}

div.leftmenu {
	width: 20%;
	float: left;
}

div.bottom {
	text-align: center;
}

div.rightcontent {
	float: right;
	text-align: center;
	width: 80%;
	height: 300px;
	margin-top: 30px;
}

div.botton {
	
}

div.product_class_title_list {
	text-align: left;
	margin-top: 60px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: thin;
	border-color: #cac9c9;
	border-bottom: none;
	width: 64%;
	margin-left: 250px;
	background-color: #F7F7F7;
	padding: 10px;
}

div.product_class_list {
	text-align: left;
	margin-top: 0px;
	border-style: solid;
	border-width: thin;
	border-color: #cac9c9;
	width: 64%;
	margin-left: 250px;
	background-color: #FFFFFF;
	padding: 10px;
}

div.product_list {
	text-align: left;
	margin-top: 10px;
	border-style: solid;
	border-width: thin;
	border-color: #cac9c9;
	width: 64%;
	margin-left: 250px;
	background-color: #FFFFFF;
	padding: 10px;
}

div.product_img {
	margin: 30px;
	display: inline-block;
}

/********Paging bar*********/

div.scott {	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: thin;
	border-color: #cac9c9;
	width: 64%;
	margin-left: 250px;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: right;
}
div.scott a{border:#ddd 1px solid;padding:2px 5px;color:#4599e3;margin:0 2px 0 0;text-decoration:none;}
div.scott a:hover{border:#4599e3 1px solid;color:#4599e3;background-color:#cee6fc;}
div.scott a:active{border:#85bd1e 1px solid;color:#4599e3;background-color:#cee6fc;}
div.scott span.current{border:#5fadfd 1px solid;padding:2px 5px;font-weight:bold;color:#fff;margin:0 2px 0 0;background-color:#cee6fc;}
div.scott a.current{border:#5fadfd 1px solid;padding:2px 5px;font-weight:bold;color:#fff;margin:0 2px 0 0;background-color:#cee6fc;}
div.scott span.disabled{border:#f3f3f3 1px solid;padding:2px 5px;color:#ccc;margin:0 2px 0 0;}

/*************/

#slides{
	width: 70%;
	float: right;
}

#slides .slidesNext,#slides .slidesPrevious {
	top:50%;
	left:-40px;
	width:24px;
	height:0;
	margin-top:-32px;
	padding-top:32px;
	display:block;
	z-index:101;
	overflow:hidden;
	background:url(../img/navigation-previous.png) no-repeat 0 0;
}

#slides .slidesNext {
	background:url(../img/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
	margin:10px 0 0;
	float:right;
}

.slidesPagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.slidesPagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:14px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
	background-position:0 -14px;
}
